@import '~normalize.css/normalize.css';

$primary: #6851ff;
$gray: #bdbdbd;
$body: #333;
$snow: #f3f3f3;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.75;
}

* {
    box-sizing: border-box;
}

a, button, input[type="submit"] {
    &:hover, &:focus {
        transition: all .2s ease-in-out;
    }
}

img {
    max-width: 100%;
    display: inline-block;
}

main {
    min-height: 88vh;
}

.title {
    font-size: 3.125em;
}

.container {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;

    &.container-sm {
        max-width: 550px;
    }

    &.container-fluid {
        max-width: 100%;
    }
}

// Navbar
.navbar {
    background: black;
    padding: 1.75rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        a, button {
            color: $gray;
            border-color: $gray;
            text-decoration: none;
            margin-left: 2rem;
            font-size: 1rem;
            font-weight: 500;

            &.active, &:hover {
                color: $primary;
                border-color: $primary;
            }

            &.active {
                font-weight: 700;
            }
        }
    }
}

.logo {
    flex: 1;
    font-weight: 700;
    font-size: 2rem;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.section {
    padding: 6rem 0;
}

// Home
.hero {
    text-align: center;
    padding: 10rem 0;

    .btn {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

// Footer
footer {
    background: $snow;
}

// Forms
fieldset {
    border: none;
    padding: 0;
}
.form-group {
    margin-bottom: 1rem;
    text-align-last: left;
}
label {
    margin-bottom: .5rem;
    display: inline-block;
}
input {
    border: 3px solid $gray;
    width: 100%;
    display: block;
    border-radius: 9px;
    padding: 1rem;

    &:focus {
        outline: 0;
        border-color: $primary;
    }
}

// Buttons
.btn {
    padding: 1rem 2rem;
    border: 2px solid $snow;
    background-color: $snow;
    border-radius: 9px;
    text-decoration: none;
    color: $body;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;

    &.btn-block {
        display: block;
        width: 100%;
    }

    &.btn-primary {
        background: $primary;
        border: 2px solid $primary;
        color: white;
    }

    &.btn-outline {
        background-color: transparent;
    }

    &.btn-link {
        padding: 0;
        border: 0;
        background: none;
    }

    &.btn-lg {
        padding: 1.5rem 4rem;
        font-size: 1.125rem;
    }
}

// Cards
.card {
    padding: 4rem;
    border-radius: 9px;
    box-shadow: 0 0 20px $primary;
    width: 100%;
}

// Helpers
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 500px) {
        flex-direction: row;
    }
}
.text-gradient {
    background: -webkit-radial-gradient(70.54% 89.31% at 70.54% 26.27%,rgba(48,61,177,.85) 0,#6851ff 0,#00c988 84.29%);
    background: -o-radial-gradient(70.54% 89.31% at 70.54% 26.27%,rgba(48,61,177,.85) 0,#6851ff 0,#00c988 84.29%);
    background: radial-gradient(70.54% 89.31% at 70.54% 26.27%,rgba(48,61,177,.85) 0,#6851ff 0,#00c988 84.29%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.highlight {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,hsla(0,0%,100%,0)),color-stop(50%,#5feea4));
    background: -webkit-linear-gradient(top,hsla(0,0%,100%,0) 50%,#5feea4 0);
    background: -o-linear-gradient(top,hsla(0,0%,100%,0) 50%,#5feea4 50%);
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#5feea4 0);
}
.text-light {
    color: white;
}

.text-dark {
    color: black;
}
.bg-dark {
    background: black;
    color: white;
}
.bg-light {
    background: white;
    color: black;
}

// Layouts
.auth-layout {
    min-height: 100vh;
    text-align: center;
    padding-top: 4rem;


    input {
        background: transparent;
        color: white;
    }
}

.m-0 {
    margin: 0;
}

